





.sm_divider {
    display: block;
    height: 4px;
    width: 36px;
    background-color: var(--main);
    margin-bottom: .7rem;
}

.homepage_sm_divider:after {
    content: 'HELLO';
    position: relative;
    top: -1rem;
    left: 3rem;
    color: var(--main);
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 22px;
}














.work_box {
    display: flex;
        flex-direction: column;
}

.work_title {
    margin: 15rem auto 5.5rem auto;
    width: 100%;
    color: var(--light);
    text-align: center;
}

img.work_arrow {
    height: 5.2rem;
    animation: up_down 1.3s ease infinite;
}

@keyframes up_down {
    0%, 100% {
        transform: translateY(0px);
    }
    50% { 
        transform: translateY(-20px);
    }
}

.work_container {
    margin: 5.5rem auto 0 auto;
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
    width: 75%;
    max-width: 90rem;
}

.work_card {
    width: clamp(16rem, calc((60vw - 10px) / 3), 27rem);
    height: clamp(16rem, calc((60vw - 10px) / 3), 27rem);

    cursor: pointer;
    box-sizing: border-box;
    border: 3px solid var(--alt);
    background-color: var(--deep_dark);
    background-position: center;
    background-size: cover;
}

















.project_box {
    position: relative;
    width: 100%;
    height: 0rem;

    margin-bottom: 16rem;
    border-top: 0px solid;
    border-bottom: 0px solid;
    background-color: #11121C;
    overflow: hidden;
    transition: all 1.5s ease-in-out;
}


@media (min-width: 1000px) {
    .box_active { height: 60rem; border-top: 12px solid #1f2462; border-bottom: 12px solid #1c2045;} 
}
@media (max-width: 1000px) {
    .box_active { height: 75rem; border-top: 12px solid #1f2462; border-bottom: 12px solid #1c2045;} 
}










.close_btn {
    position: absolute;
    filter: invert(1);
    width: 6rem;
    height: 6rem;
    top: .7rem;
    left: .7rem;
    cursor: pointer;
    z-index: 5;
}

.close_btn-active {
    animation: flip .5s linear forwards;
}

@keyframes flip {
    0% {
        transform: rotate(180deg);
    }
    45% {
        transform: rotate(380deg);
    }
    66% {
        transform: rotate(340deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.collapse {
    width: inherit;
    height: inherit;
    transform: rotate(180deg);
}

.collapse:hover,
.collapse:focus {
    opacity: .7;
}

.collapse_shaking:hover,
.collapse_shaking:focus {
    animation: shake 2.5s ease-out infinite;
}

@keyframes shake {
    0%, 28%, 100% {
        transform: rotate(180deg);
    }
    14% {
        transform: rotate(172deg);
    }
    7%, 21% {
        transform: rotate(192deg);
    }
}







.wave_1,
.wave_2 {
    position: absolute;
    bottom: -5px;
}

.wave_1 {
    height: 66%;
    min-height: 35rem;
}

.wave_2 {
    height: 58%;
    min-height: 30rem;
}
















.display_container {
    display: flex;
    height: inherit;
}

.display_container-txt {
    display: flex;
        flex-direction: column;
        align-self: center;
    width: 55%;
    z-index: 3;
}

.display_txt-box {
    display: flex;
        flex-direction: column;
        align-self: center;
    width: clamp(30rem, 35vw, 40rem);
}

.disp_title_redirect-container {
    display: flex;
}

.disp_title {
    color: var(--light);
    margin: 0 0 4rem 0;
    width: fit-content;
}

.redirect_btn {
    width: 44px;
    height: 44px;
    position: relative;
        top: 20px;
        left: 18px;
}

.disp_paragraph {
    color: var(--light);
    margin: 0 0 5rem 0;
    min-width: 37vw;
    padding-right: 4vw;
    box-sizing: border-box;
}




.display_container-img {
    background-color: lightsalmon;
    z-index: 2;
    width: 45%;
    height: inherit;
}






























@media (min-width: 1515px) {

    .display_txt-box {
        position: relative;
        left: 4vw;
        padding-left: 4rem;
    }

}




@media (max-width: 1500px) {
    
    .disp_paragraph {
        padding-right: unset;
    }
    
}




@media (max-width: 1200px) { 

    .display_container-img,
    .display_container-txt {
        width: 50%;
    }

}




@media (max-width: 1000px) { 

    .work_container {
        width: 100%;
        max-width: 1320px;
    }

    .close_btn {
        width: 4rem;
        height: 4rem;
    }

    .display_container {
        flex-direction: column;
        padding-top: 6rem;
    }

    .display_container-img {
        min-width: 40rem;
        width: 70%;
        align-self: center;
    }

    .display_txt-box {
        width: clamp(30rem, 35vw, 40rem);
    }



} 




@media (max-width: 640px) { 

    .work_card {
        width: calc(50vw - 10px);
        height: calc(50vw - 10px);
    }

    .close_btn {
        width: 3rem;
        height: 3rem;
        left: calc(50% - 24px);
    }

    .display_container-img {
        width: 100%;
    }

    .display_container-txt {
        width: 100%;
        padding: 0 2rem;
        box-sizing: border-box;
    }

    .display_txt-box {
        width: 100%;
    }

    .redirect_btn {
        width: 28px;
        height: 28px;
        top: 12px;
        left: 14px;
    }


} 






















